!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - for listing in @listings
    %url
      %loc #{listing_url(listing)}/
      %lastmod=listing.updated_at.strftime('%Y-%m-%d')
      %changefreq weekly
      %priority 0.5
