<% title 'Pilot Cars and Oversize Load Escorts' %>
<% description 'Pilot Car Finders is the fast and easy way to find pilot cars and oversized load escorts' %>
<% keywords 'hood cleaning, hood cleaners, restaurant exhaust hood cleaning' %>
<div class="jumbotron-home">
	<div class="container-fluid", align="center">
		<br>
		<h1>Welcome to Hood Cleaning Marketing Directory</h1>
		<h3>The Fast & Easy Way to Find Hood Cleaners & Commercial Kitchen Cleaners</h3>
		<h3>Sign Up Here</h3>
		<p>( Yes, It's FREE! )
		<p>Are you a Hood Cleaner Operator or are you looking to hire one?</p>
		<p>
		 <%= link_to "I'm a Hood Cleaner", 
		 new_pilot_registration_path, class: "btn btn-home btn-warning" %> &nbsp;
		 <%= link_to "I'm looking for a Hood Cleaner",
		 states_path, class: "btn btn-home btn-warning" %></p>
		 <br>
	</div>
</div>
<br>
<%= render 'layouts/tripleboxes' %>
<%= render 'layouts/search' %>
<br>