<% title 'Pilot Car Companies and Oversized Load Escorts USA List' %>
<% description 'State by State list of Pilot car operators and oversized load escorts in the USA. The best Pilot Car Companies Directory ever.' %>
<% keywords 'pilot car companies, pilotcars, oversized load escorts' %>
<%= render 'layouts/search' %>
<div class='container'>
	<div class="well well-sm">
		<h5>USA ></h5>
		<h3>Pilot Car USA Directory</h3>
		<div class="container-fluid">
			<div class="row">
				<big>
					<% @categories.each do |category| %>
						<div class="col-md-2 col-sm-3 col-xs-5"><%= link_to category.name, category_path(category) %></div>
					<% end %>
				</big>
			</div>
		</div>
	</div>
</div>
<%= render 'layouts/tripleboxes' %>
