 <div class="navbar navbar-bottom">
	<div class="container">
	   <p class="navbar-text pull-left" >
		   <i class="fa fa-cog fa-spin fa-1x"></i> PilotCarFinder.com by <br>
		   <a href="http://localreachbranding.com">Local Reach Branding - Reno NV</a><br>
		   9900 Wilbur May Parkway Suite 3901<br>
		   Reno, Nevada 89521<br>
		   
	   </p>
	   <p class="navbar-text pull-right" align="right" >
		  <%= link_to number_to_phone("7755441112", area_code: true), phone_number_link("7755441112") %> <br>
		  <%= link_to "pilotcarfinder@gmail.com", "email: pilotcarfinder@gmail.com" %><br>
		  Copyright (c) 2016<br>
		  <%= link_to "Privacy Statement", privacystatement_path %> - <%= link_to "sitemap.xml", "../sitemap.xml" %><br>
	   </p>
	</div>
</div>