<div class="container", align="center">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
		<i class="fa fa-home fa-taxi fa-5x"></i>
      <div class="caption">
        <h4>LIMITED TIME OFFER</h4>
		<h3>FREE FOREVER<br>Premium Listing</h3>
        <p>
		Website Links!<br>
		Stylized (fancy pants) listing!<br>
		Up to 12 High Resolution Photos!<br>
		Social Media Links!<br>
		Easy Contact Email System!<br>
		No fee EVER!<br>
		(Limited to first 1000 Pilot Car Listings)<br>
		</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="fa fa-home fa-truck fa-5x"></i>
      <div class="caption">
        <h4>FREE & EASY FOR TRUCKERS</h4>
		<h3>Search, Find, Contact.</h3>
        <p>
		Search by State<br>
		Search by Metro Area<br>
		Search keyword<br>
		All Pilot contact info<br>
		Built for Speed & ease<br>
		Easy Contact Email System!<br>
		No fee EVER!<br><br>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <i class="fa fa-home fa-globe fa-5x"></i>
      <div class="caption">
        <h4>SEARCH THE USA EASIER</h4>
		<h3>Search, Find, Contact.</h3>
        <p>
		Search by State<br>
		Search by Metro Area<br>
		Search keyword<br>
		All Pilot contact info<br>
		Built for Speed & ease<br>
		Easy Contact Email System!<br>
		No fee EVER!<br><br>
      </div>
    </div>
  </div>
</div>
</div>